@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
            font-family: "Poppins", sans-serif;
            margin: 0;
            padding: 0;

        } 
@media screen and (min-width: 832px)  {
    header {
        background-color: #FEF7F4;
        padding: 0 10px;
        display: flex;
    }
    .store{
    display: none;
    }
    
    main {
        display: flex;
        padding: 50px 0 0 0;
    }
    .left-side h4 {
        font-size: 2.5rem;
    }
    .right-side{
        border-radius: 30px;
        box-shadow:inset 2px 0 4px rgba(0, 0, 0, 0.226);
    margin-right: 20px;
    }
    .form{
        margin-top: 20px;
        margin-right: 70px;
        margin-left: 70px;
    }
    .nomprenom{
        display: flex;
        justify-content: center;
        gap: 10%;
      }
}
/*telephone*/
@media screen and (max-width: 832px){
    header {
        font-size: 10px;
    }

    .logo {
        padding-top:20px;
        padding-left: 25%;

    }
    main {
        display: grid;
        padding: 20px 0 0 0;
    }
    .stores{
        display: flex;
        }
    .handphone{
        display:none;
    }
    .left-side h4 {
        font-size: 1.8rem;
    }
    .right-side{
       border-radius: 20px 20px 0 0 ;
       box-shadow:inset 0 4px 4px rgba(0, 0, 0, 0.226);

    }
    .form{
        margin-right: 20px;
        margin-left: 20px;
    }

}


body {
    font-family: Arial, sans-serif;
    color: #333;
    background-image: url(back.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

header {
    background-color: #FEF7F4;
    align-items: center;
}


header ul {
    list-style: none;
    display: flex;
    padding: 20px 0;

}
header ul li a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
header a:hover{
    color: coral;
}

.stores{
    display: flex;
    margin-top: 3%;
    margin-bottom: 3%;
    gap: 4%;
    justify-content: center;
}

.store{
    width: 130px;
}
span{
    color: coral;
}
.left-side {
    flex: 1;
    text-align: center;
    justify-items: center;
}
.handphone img{
    flex: 1;
    position: relative;
    bottom: 0;
    width: 20vw;
    height: 30vw;
}

.right-side {
    flex: 1;
    background-color: #FEF7F4;
    padding: 20px;
}

.right-side .icons{
display: flex;
justify-content: center;
justify-content: space-evenly;
margin-top: 20px;
margin-bottom: 15px;
}
.top{
    font-size: 1.2rem;
}
.top h4{
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}


input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #e86d3c2d;
    border-radius: 5px;
    margin-bottom: 6px;
}
.deja{
    font-size: 0.7rem;
}
input[type="submit"] {
    background-color: coral;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 16px;
    width: 100%;

}

input[type="submit"]:hover {
    background-color: #E86D3C;
}


.line {
    position: relative;
    text-align: center;
    margin-top: 5px;
  }
  
  .line:before, .line:after {
    content: "";
    border: 1px solid coral;
    position: absolute;
    width: 45%;
    top: 50%; 
  }
  
  .line:before {
    left: 0;
  }
  
  .line:after {
    right: 0;
  }
  
